@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    background-color: grey;
}

header {
    position: fixed;
    /* header will always be on top and over*/
    background: whitesmoke;
    top: 0;
    left: 0;
    z-index: 100; /*always on top (of anything <100)*/
    width: 100%;
    height: 60px;
    border-bottom: 4px solid green;
}

nav {
    /*everything but logo, float to create room*/
    float: right;
    padding: 5px;
}

nav ul{
    list-style: none; /*merc the bullet points*/
    padding: 0; /*padded nav, interior list items none*/
}

nav ul li{
    display: inline-block; /*display from vertical stack to inline horizontal*/
    /*float: left;*/
    padding: 10px; /*controlled <li> padding*/
    box-sizing: border-box; /*super useful; box specifications include <border>, not just internal sizes
                /*content-box = default, border adds to dimensions*/
    
}

nav ul li a {
    text-decoration: none; /*drop the underlines*/
    padding: 0;
}

#menu-icon{
    display: hidden;
    width: 40px;
    height: 40px;
    background: url((//https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTk7z6qSJdV8wmm0xwR4nrK5OPwhOfXJPqzrIG3ynOlOoGHyc4PSyrvpQ) center;
    background-size: contain;

}

@media only screen and (max-width: 768px){
    header{
        position: absolute;
        border-bottom: 4px solid red;
    }
    a, a:active, a:visited{
        color: white;
    }

    #menu-icon{
        display: inline-block; /* hamburger appears on small screen, disappears larger*/
    }

    nav ul, nav:active ul{
        display: none;
        position: absolute;
        background: #fff;
        right: 0;
        border: 5px solid #000;
        width: 100%
    }

    nav ul li{
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 20px 0 20px 0;
        background-color: red;
        border-bottom: 1px solid #fff;
    }

}


.search img{
    height: 20px;
    filter: invert();
}

/*
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #24252a;
}

//tryna get the icons to match up

.search img, ul img{
    height: 1.15em;
}

.search img{
    position: fixed;
    top: 30px;
}


li, a, button, p.logo{
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}
p.logo{
    font-family:'Raleway', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;

}

li, a, button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.front_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-color: red;
    cursor: pointer;
    padding: 30px 30px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    min-width: 10%;
}

.nav_links li a{
    transition all 0.3 ease 0s;

}

.nav_links li a:hover{
    color: #0088a9
}

.sdv ul{
    list-style: none;
    
}

.sdv_items{
    display: inline-block;
}

.search{
    display: inline-block;
    margin-left: 20px;
}

*/